<%- include('../layouts/user/header'); -%>

   <div class="bod d-flex align-items-center justify-content-center" style="height: 100vh; width: 100vw;">

        <h3>NO cart item added</h3><br>
        <a href="/userHome">Back to home</a>

   </div>

   <%- include('../layouts/user/footer'); -%>