<%- include('h1'); -%>

<section>
    <div class="main">
        <h4 class="mt-5">Verification</h4>
        <p>Enter your 4-digit code that you received on your email.</p>
        <div class="otp-section">
            <form id="submit-form">
          
                <div class="alert alert-danger" style="display: none;" id="alert"></div>
                
                <div class="otps">
                    <input type="number" name="otp" id="otp" class="numb">
                    <!-- You can add similar input fields for number2, number3, and number4 if needed -->
                     <div id="otpErr" style="display: none; color:red"></div>
                </div>
                <!-- <div class="timer mt-1" style="text-align: center;">00:60</div>  -->
                 <p style="text-align: center;">You have 5 minutes</p> 
                <div class="button d-flex justify-content-center mt-3">
                    <!-- <input type="submit" value="Verify" class="row"> -->
                    <button value="Verify" type="submit" class="row p-1">Verify</button>
                </div>
            </form>
        </div>
    </div>
</section>

<script src="/htmlExecutable/user/otpRegister.js"></script>

<%- include('f1'); -%>
