<%- include('../layouts/user/header') -%>

    <div class="container-fluid gx=0">
        <div class="row gx-0">
            <%- include('../layouts/user/profileSidbar') -%><!--col-md-12 sidebar -->
                <!-- <h1>hello</h1> -->
                <div class="col-md-10 d-flex justify-content-center align-items-center">
                    <div class="main shadow rounded mt-5 mb-5 p-3" style="width: 90%;">
                        <div class="form-group">
                            <label>Enter New Password</label>
                            <div class="input-group" id="show_hide_password">
                              <input id="Pass" name="Pass" class="form-control" type="password">
                            </div>
                          </div>
                          <div class="form-group">
                            <label>Enter Password Again</label>
                            <div class="input-group" id="show_hide_password">
                              <input id="conPass" name="conPass" class="form-control" type="password">
                            </div>
                          </div>
                     <!-- <input type="password" name="" id=""> -->
                     <button class="btn btn-success mt-5" onclick="click()" type="submit">Change Password</button>
                    </div>
                 </div>
          
        </div>
    </div>
   <script>
    function click(){
        var passwordValidator = require('password-validator');

        const Pass = document.getElementById('Pass').vlaue
        const conPass = document.getElementById('conPass').value
        if(Pass = conPass){
            $.ajax({
                url:"/checkPasswords",
                method:"POST",
                data:{
                    Pass
                },
                success:(Response)=>{
                    console.log("change su")
                }
            })
        }else{
            
        }
    
    }
   </script>
<%- include('../layouts/user/footer') -%>