<%-include('header');-%>

<section class="main-body">
    <div class="left-section d-flex justify-content-center align-items-center ">
            <div class="login d-flex justify-content-center align-items-center">
                <div class="inner">
                    <div class="logo">
                        <a class="navbar-brand d-flex align-items-center" href="/">
                            <img src="/logos/logo.png" alt="Zoan_Mania" height="50" class="main-logo">
                        </a>
                    </div>
                    <p class="text">Come clean us out!!!</p>
                    <h4>Sign up</h4>
                            <div style="display:  none;" id="alertDiv" class="alert alert-success text-center">
 
                            </div>
                            <% if(locals.exist){ %>
                                <div class="alert alert-success text-center" id="disapear">
                                    <%= exist %>
                                </div>
                            <% } %>

                    <form id="signup-form"  >

                        <input type="text" class=" box p-3" name="name" id="name" placeholder="Name" required style="outline: none;" oninput="checkName()">
                        <div style="color: red; display: none;" id="nameErr"></div>

                        <input type="email" class="mt-3 p-3 box" name="email" id="email" placeholder="Email" required style="outline: none;" oninput="checkEmail()">
                        <div style="color: red; display: none;" id="emailErr"></div>

                        <div class="d-flex align-items-center box mt-3 pe-3">
                            <input type="password" class=" box mt-1 ps-3 pe-3" name="password" id="password"
                                placeholder="Password" style="outline: none;" required oninput="checkPassword()">
                            <span toggle="#password-field"
                                class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        </div>
                        <div style="color: red; display: none;" id="passwordErr"></div>
                        <br>

                        <div class="d-flex align-items-center box  pe-3">
                            <input type="password" class=" box mt-1 ps-3 pe-3" name="confirmPassword" id="confirmPassword"
                                placeholder="confirmPassword" style="outline: none;" required oninput="checkConfirmPassword()">
                            <span toggle="#password-field"
                                class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        </div>
                        <div style="color: red; display: none;" id="confirmPasswordErr" ></div>                        
                        <br>
                        
                        <div style="width: 100%; display: flex; justify-content: center;"><button class="btn" type="submit">Sign up</button></div>
                        <!-- <div class="mt-3" style="width: 100%; display: flex; justify-content: center;"><a href="/auth/google">Login with google</a></div> -->
                    </form>
                </div>

            </div>
    </div>
    <div class="right-section">

    </div>
</section>

<script src="/htmlExecutable/user/signup.js"></script>
<!-- <script>

</script> -->


<%-include('footer');-%>