<%- include('../layouts/user/header') -%>

    <div class="container-fluid gx=0">
        <div class="row gx-0">
            <%- include('../layouts/user/profileSidbar') -%><!--col-md-12 sidebar -->
                <!-- <h1>hello</h1> -->
                <div class="col-md-10 d-flex justify-content-center align-items-center">
                    <div class="main shadow rounded mt-5 mb-5 p-3" style="width: 90%;">

                        <span id="errorAlert" style="display: none;" class="alert alert-danger"></span>


                        <div class="form-group">
                            <label>Enter New Password</label>

                               <span id="passAlert" style="display: none;" class="alert alert-danger"></span>
                              
                              
                            <div class="input-group" id="show_hide_password">
                              <input id="Pass" name="Pass" class="form-control" type="password">
                            </div>
                          </div>


                          
                          <div class="form-group">
                            <label>Enter Password Again</label>

                            <div id="conAlert" style="display: none;" class="alert alert-danger" role="alert">
                               
                              </div>
                              
                            <div class="input-group" id="show_hide_password">
                              <input id="conPass" name="conPass" class="form-control" type="password">
                            </div>
                          </div>
                     <!-- <input type="password" name="" id=""> -->
                     <button class="btn btn-success mt-5" onclick="clicker()">Change Password</button>
                    </div>
                 </div>
                 
        </div>
    </div>
   <script>
    
    function clicker(){
    
        
        const Pass = document.getElementById('Pass').value
        if(Pass==""){
            document.getElementById('passAlert').style.display = 'block'
        }
        console.log("inside function pass===",Pass)
        const conPass = document.getElementById('conPass').value
        if(conPass==""){
            document.getElementById('conAlert').style.display = 'block'

        }
        if(Pass == conPass && Pass !== "" && conPass !== ""){
            $.ajax({
                url:"/checkPasswords",
                method:"POST",
                data:{
                    Pass
                },
                success:(Response)=>{
                    console.log("change su")
                },
                error: (xhr, status, error) => {
                    if (xhr.status === 400) {
                    // Handle the 400 Bad Request error here
                    const errorMessage = xhr.responseJSON.errors;
                    console.log("Error message:", errorMessage);
                    document.getElementById('errorAlert').innerHTML = errorMessage
                    document.getElementById('errorAlert').style.display = 'block'
                    // Display the error message or perform other error handling as needed
                    }
                }
                            })
        }else{
                        document.getElementById('errorAlert').innerHTML = 'Check your Password'
                        document.getElementById('errorAlert').style.display = 'block'

                    }
    
    }
   </script>
<%- include('../layouts/user/footer') -%>