<%-include('header');-%>

<section class="main-body">
    <div class="left-section d-flex justify-content-center align-items-center">
            <div class="login d-flex justify-content-center align-items-center">
                <div class="inner">
                    <div class="logo">
                         
                    </div>
                    <p class="text ">Welcome</p>
                    <h4>Sign in</h4>
                    <% if(locals.txt){ %>
                        <div class="alert alert-success text-center" id="disapear">
                            <%= txt   %>
                        </div>
                    <% } %>
                    <form action="/homed" method="post" class="" id="smt">
                        <!-- <label class="texx mt-2" for="">Email</label><br> -->
                        
                        <input type="email" class=" box mt-3 ps-3 pe-3" name="email" id="email" placeholder="Email" required><br>
                        <div style="width: 100%;height: 45px;display: flex; align-items: end; justify-content: end;"><a href="/forgotPassword">forgot password</a></div>
                        <input type="password" class=" box mt-1 ps-3 pe-3" name="password" id="password" placeholder="Password" required><br>
                        <div style="width: 100%; display: flex; justify-content: center;" class="mt-4"><input type="submit" class="mt-2 btn" value="Sign in" id="submit"></div>
                    </form>
                   <p class="mt-5">Don't have an account ? <a href="/signup">Sign up</a></p>
                    <!-- <a href="/admin-login" style="display: inline-block;">Admin Sign in</a>  -->
                </div>

            </div>
    </div>
    <div class="right-section"></div>
</section>
<script>
    setTimeout(function () {
            document.getElementById('disapear').style.display = "none";
        }, 4000);

</script>
<%-include('footer');-%>