<%- include('../layouts/user/header') -%>

    <div class="container-fluid gx=0">
        <div class="row gx-0">
                <!-- <h1>hello</h1> -->
                <div class="col-md-12 d-flex justify-content-center align-items-center">
                    <div class="main shadow rounded mt-5 mb-5 p-3" >

                        <span id="errorAlert" style="display: none;" class="alert alert-danger"></span>
                        <div class="form-group">
                            <label>Enter Old Password</label>

                               <span id="passAlert" style="display: none;" class="alert alert-danger"></span>
                              
                              
                            <div class="input-group" id="show_hide_password">
                              <input id="OldPass" name="Pass" class="form-control" type="password">
                            </div>
                          </div>

                        <div class="form-group mt-3">
                            <label>Enter New Password</label>

                               <span id="passAlert" style="display: none;" class="alert alert-danger"></span>
                              
                              
                            <div class="input-group" id="show_hide_password">
                              <input id="Pass" name="Pass" class="form-control" type="password">
                            </div>
                          </div>


                          
                          <div class="form-group mt-3">
                            <label>Enter Password Again</label>

                            <div id="conAlert" style="display: none;" class="alert alert-danger" role="alert">
                               
                              </div>
                              
                            <div class="input-group" id="show_hide_password">
                              <input id="conPass" name="conPass" class="form-control" type="password">
                            </div>
                          </div>
                     <!-- <input type="password" name="" id=""> -->
                     <div><button class="btn btn-success ms-5 mt-5" onclick="clicker()">Change Password</button>
                    </div>
                    </div>
                 </div>
                 
        </div>
    </div>
   <script>
    
    function clicker(){
        const oldPass = $('#show_hide_password').text()
        
        const Pass = document.getElementById('Pass').value
        if(Pass==""){
            document.getElementById('passAlert').style.display = 'block'
            setTimeout(()=>{
                document.getElementById('passAlert').style.display = 'none'
            },3000)
        }
        console.log("inside function pass===",Pass)
        const conPass = document.getElementById('conPass').value
        if(conPass==""){
            document.getElementById('conAlert').style.display = 'block'
            setTimeout(()=>{
                document.getElementById('conAlert').style.display = 'none'
            },3000)
        }
        if(Pass == conPass && Pass !== "" && conPass !== ""){
            fetch(
                "/checkPasswords",
                {method:"POST",
                headers:{
                   "Content-Type":"application/json", 
                },
                body: JSON.stringify({
                    oldPass,
                    Pass
                })}
            )
            .then(res=>res.json())
            .then((data)=>{
                // console.log(data);
                if(data.success){
                    alert("Password changed successfully")
                    window.location.replace('/profile');
                }
                else if(!(data.success) && data.notfound){
                    alert('Enter the correct old password')
                }else if(!(data.success) && data.errMsg){
                    alert("error",data.errors)
                }

            })
                
        }else{
                document.getElementById('errorAlert').innerHTML = 'Password missmatch'
                document.getElementById('errorAlert').style.display = 'block'
            }
    
    }
   </script>
<%- include('../layouts/user/footer') -%>