<%- include('../layouts/user/header') -%>

    <div class="container-fluid gx=0">
        <div class="row gx-0">
                <!-- <h1>hello</h1> -->
                <div class="col-md-12 d-flex justify-content-center align-items-center">
                    <div class="main shadow rounded mt-5 mb-5 p-3" >

                        <span id="errorAlert" style="display: none;" class="alert alert-danger"></span>
                        <div class="form-group">
                            <label for="OldPass">Enter Old Password: <span class="text-danger" id="oldErr"></span></label>

                               <!-- <span id="passAlert" style="display: none;" class="alert alert-danger"></span> -->
                              
                              
                            <div class="input-group d-flex justify-content-center align-items-center p-1 border rounded" >
                              <input id="OldPass" name="Pass" class="form-control border-0" type="password">
                              <span toggle="#password-field"
                                        class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>
                          </div>

                        <div class="form-group mt-3">
                            <label>Enter New Password: <span class="text-danger" id="passErr"></span></label>

                               <!-- <span id="passAlert" style="display: none;" class="alert alert-danger"></span> -->
                              
                              
                            <div class="input-group  d-flex justify-content-center align-items-center p-1 border rounded" >
                              <input id="Pass" name="Pass" class="form-control border-0 type="password">
                              <span toggle="#password-field"
                                        class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>
                           
                            </div><br>
                            
                            
                            
                            <div class="form-group mt-3">
                                <label>Enter Password Again: <span class="text-danger" id="conErr"></span></label>
                                
                                <div class="input-group   d-flex justify-content-center align-items-center p-1 border rounded" >
                                    <input id="conPass" name="conPass" class="form-control border-0" type="password">
                                    <span toggle="#password-field"
                                    class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                </div>
                            </div>
                            <!-- <input type="password" name="" id=""> -->
                            <div class="ps-4"><button class="btn btn-success ms-5 mt-5" onclick="clicker()">Change Password</button>
                            </div>
                        </div>
                    </div>
                 </div>
                 
        </div>
    </div>
   <script>
    $(".toggle-password").click(function () {
            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $(this).siblings("input");
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });
    
    function clicker(){
        const oldPass = $('#OldPass').val().trim()
        if(oldPass.length == 0){
           $('#oldErr').text('Dont leave it blank')
           setTimeout(()=>{
            $('#oldErr').text('')
           },3000)
            return
        }
        console.log('oldPass=',oldPass)
        const Pass = document.getElementById('Pass').value.trim()
        if(Pass.length == 0){
           $('#passErr').text('Dont leave it blank')
           setTimeout(()=>{
            $('#passErr').text('')
           },3000)
            return
        }
        // console.log("inside function pass===",Pass)
        const conPass = document.getElementById('conPass').value.trim()
        if(conPass.length == 0){
            $('#conErr').text('Dont leave it blank')
           setTimeout(()=>{
            $('#conErr').text('')
           },3000)
            return
        }
        if(Pass == conPass){
            fetch(
                "/checkPasswords",
                {method:"POST",
                headers:{
                   "Content-Type":"application/json", 
                },
                body: JSON.stringify({
                    oldPass,
                    Pass
                })}
            )
            .then(res=>res.json())
            .then((data)=>{
                // console.log(data);
                if(data.success){
                    Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: 'Your Password has been updated',
                    showConfirmButton: false,
                    timer: 1500
                })
                setTimeout(()=>{
                    window.location.replace('/profile');
                },3000)
                }else if(!data.success && data.lenErr){
                    $('#oldErr').text('Enter the correct old password')
                    setTimeout(()=>{
                        $('#oldErr').text('')
                    },3000)
                }else if(!data.success && data.notfound){
                    // alert('Enter the correct old password')
                    // console.log('ivide error oldPass=',oldPass)
                    $('#oldErr').text('Enter the correct old password')
                    setTimeout(()=>{
                        $('#oldErr').text('')
                    },3000)
                }else if(!data.success && data.errMsg){
                    // alert("error",data.errors)
                    $('#passErr').text(data.errors)
                    setTimeout(()=>{
                        $('#passErr').text('')
                    },3000)
                }

            })
                
        }
        else{
                $('#passErr').text('Password mismatch')
                $('#conErr').text('Password mismatch')       
                setTimeout(()=>{
                    $('#passErr').text('')
                $('#conErr').text('     ')       
                },3000)  
        }
    
    }
   </script>
       <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<%- include('../layouts/user/footer') -%>