<%-include('header');-%>

    <section class="main-body">
        <div class="left-section d-flex justify-content-center align-items-center">
            <div class="login d-flex justify-content-center align-items-center">
                <div class="inner">
                    <div class="logo">

                    </div>
                    <p class="text ">Welcome</p>
                    <h4>Sign in</h4>
                    
                        <div class="alert alert-success text-center" id="disapear" style="display: none;">
                            
                        </div>
                       
                            <!-- <form action="/homed" method="post" class="" id="smt"> -->
                            <form id="smt">

                                <!-- <label class="texx mt-2" for="">Email</label><br> -->

                                <input type="email" class=" box mt-3 ps-3 pe-3" name="email" id="email"
                                    placeholder="Email" style="outline: none;" required><br>
                                <div
                                    style="width: 100%;height: 45px;display: flex; align-items: end; justify-content: end;">
                                    <a href="/forgotPassword">forgot password</a>
                                </div>
                                <div class="d-flex align-items-center box  pe-3">
                                    <input type="password" class=" box mt-1 ps-3 pe-3" name="password" id="password"
                                        placeholder="Password" style="outline: none;" required>
                                    <span toggle="#password-field"
                                        class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                    <!-- <i class="fa-solid fa-eye-slash" ></i> -->
                                </div><br>
                                <div style="width: 100%; display: flex; justify-content: center;" class="mt-4"><input
                                        type="submit" class="mt-2 btn" value="Sign in" id="submit"></div>
                            </form>
                            <p class="mt-5">Don't have an account ? <a href="/signup">Sign up</a></p>
                            <!-- <a href="/admin-login" style="display: inline-block;">Admin Sign in</a>  -->
                </div>

            </div>
        </div>
        <div class="right-section"></div>
    </section>
    <script>
        $(document).ready(function () {
            $(".toggle-password").click(function () {
                $(this).toggleClass("fa-eye fa-eye-slash");
                var input = $(this).siblings("input");
                if (input.attr("type") == "password") {
                    input.attr("type", "text");
                } else {
                    input.attr("type", "password");
                }
            });

            
      
        $('#smt').submit(function(event) {
            event.preventDefault();
            // console.log("clicked");;

            var email = $('#email').val()
            var password = $('#password').val() 
            fetch('/homed',{
                method:'POST',
                headers:{
                   "Content-Type":"application/json", 
                },
                body: JSON.stringify({
                        password,email
                })
            })
            .then(res=>res.json())
            .then((data) => {
                console.log("data===",data)
                if(data.success==false){
                    console.log("error====",data.err)
                }
                if(data.success){

                    window.location.replace('/userHome');

                }else if(data.success == false && data.err =="User is blocked"){  
                    $('#disapear').html(data.err)   
                    $('#disapear').css('display','block')
                    const disappearElement = document.getElementById('disapear');
                    if (disappearElement) {
                    setTimeout(function () {
                    disappearElement.style.display = "none";
                }, 3000);
            }
                }else if(data.success == false && data.err == "Check your password"){
                    $('#disapear').html(data.err)   
                    $('#disapear').css('display','block')
                    const disappearElement = document.getElementById('disapear');
                    if (disappearElement) {
                        setTimeout(function () {
                            disappearElement.style.display = "none";
                        }, 3000);
                    }
                }
            })
            
        })
    })
    </script>
    <%-include('footer');-%>