<div class="col-md-2 d-flex flex-column align-items-start border-right" style="background-color: antiquewhite;">
    <div class="profilePhoto d-flex justify-content-center align-items-center" style="width: 100%; height: 150px; background: burlywood;">
        <img src="/profile-2398782_1280.webp" style="width: 80px;" class="rounded-circle shadow-4-strong" alt="img">
    </div>
    <ul class="sideMenu" style="background-color: antiquewhite;">
        <li><a href="/profile">Profile info</a></li>
        <li><a href="/myOrders">My Orders</a></li>
        <li><a href="/manageAddress">Manage Address</a></li>
        <li><a href="/WishList">Wish lists</a></li>
        <li><a href="/changePassword">Change Password</a></li>
    </ul>
    <a href="/userHome">back to home</a><br>
    <a href="/logout">Logout</a>
    
</div>