<%-include('header');-%>

<section class="main-body">
   <div class="inner-sec">
    <h3>Zoan_Mania</h3>
    <div class="logo-sec">
        
    </div>
    <% if(locals.error){ %>
        <div class="alert alert-success text-center" id="disapear">
            <%= error   %>
        </div>
    <% } %>
    <form action="/admin/check" method="post" style="width: 100%;" class="mt-5">
        <input type="email" name="email" class="box" id="email" placeholder="Email" required><br>
        <input type="password" name="password" id="password" class="box mt-4" placeholder="password" required> <br>
        <!-- <div class="Buttons" style="width: 100%; height: 100%; padding-left: 16px; padding-right: 16px; padding-top: 17px; padding-bottom: 17px; background: #5570F1; border-radius: 12px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
            <div class="Label" style="flex: 1 1 0; text-align: center; color: white; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Login</div>
        </div> -->
        <div class="btn"><input type="submit" value="Login" class="text-light colo"></div>
    </form> 
   </div>
</section>
<script>
     setTimeout(function () {
            document.getElementById('disapear').style.display = "none";
        }, 4000);

</script>

<%-include('footer');-%>