<%- include('../layouts/admin/header'); %>

<div class="col-12 ">
    <!-- <h1>Dash</h1> -->

    <div class="w-100 p-2 canvas-container">
        <div class="bar-chart">
            <canvas id="acquisitions"></canvas>
        </div>
        <div class="doughnut-chart mt-5">
            <canvas id="doughnut"></canvas>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="module" src="/htmlExecutable/admin/dashboard.js"></script>

<%- include('../layouts/admin/footer') %> 