<%- include('../layouts/admin/header'); -%>

    <div class="col-12">
        <h1>Add Category</h1>
        <% if (locals.error) { %>
            <div class="alert alert-success" id="disap" style="display: none;">
                <%= error %>
            </div>
        <% } %>
        <form action="/admin/add-category" method="post">
            <input type="text" placeholder="Category Name" name="cate">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <script>
        const err = document.getElementById('disap')
        if(err){
            err.style.display = 'block'
            setTimeout(()=>{
                err.innerHTML="";
                err.style.display = 'none'
            },4000)
        }
    </script>

<%- include('../layouts/admin/footer'); -%> 