<%- include('../layouts/admin/header'); -%>

    <div class="col-12">
        <h1>Add Category</h1>
        <% if (locals.error) { %>
            <div class="alert alert-success" id="disap" style="display: none;">
                <%= error %>
            </div>
        <% } %>
        <form action="/admin/add-category" method="post">
            <input type="text" placeholder="Category Name" name="cate">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <script src="/htmlExecutable/admin/admin-addCategory.js"></script>

<%- include('../layouts/admin/footer'); -%> 