<%- include('../layouts/admin/header'); %>

<div class="col-12 ">
    <h4>Dash</h4>

    <div class="w-100"><canvas id="acquisitions"></canvas></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="module" src="/htmlExecutable/admin/dashboard.js"></script>

<%- include('../layouts/admin/footer') %> 