<%- include('../layouts/admin/header'); %>


    <main>
        
        <section class="admin-section">
            <h2>Live Carousel Preview (Simulated)</h2>
            <div id="live-carousel-preview" class="carousel-preview-container">
                <p class="placeholder-text">Add banners below to see the preview.</p>
            </div>
        </section>


        <section class="admin-section">
            <h2>Current Banner Slides</h2>
            <div id="slides-list" class="slides-list-container">
            </div>
            
            <button id="add-new-slide-btn" class="action-button primary">➕ Add New Banner Slide</button>
        </section>


        <section id="slide-editor" class="admin-section editor-form-container hidden">
            <h2 id="editor-title">Create New Slide</h2>
            <form id="slide-form">
                
                <label for="slide-id-field" style="display: none">Slide ID:</label>
                <input type="file" id="slide-id-field" name="image" value="" accept=".jpg,.jpeg,.png">
                <div style="margin-top: 15px;">
                    <img id="slide-preview"  src="http://via.placeholder.com/380x200" name="image"
                        style="width: 300px; height: 100px; border-radius: 8px;" alt="banner image">
                </div>
                <div class="form-actions">
                    <button type="submit" id="save-slide-btn" class="action-button success">Save Slide</button>
                    <button type="button" id="cancel-edit-btn" class="action-button secondary">Cancel / Close</button>
                </div>
            </form>
        </section>
                
        <!-- <section class="admin-section" style="display: flex; justify-content: end; border: none;">
            <button id="publish-btn" class="action-button danger" disabled>Publish</button>
        </section> -->
    </main>

    <script src="/htmlExecutable/admin/banner.js"></script>


<%- include('../layouts/admin/footer') %> 