*{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.middle-menu{ 
    margin-left: -120px;
}
.lfimg{
   width: 100%;
   height: 100vh;
   float: left;
   background-repeat: no-repeat;

}
.image-section1{
    display: flex;
    width: 100%;
}

/* .sz{
    height: 450px;
} */

/* .pos{
    position: absolute;
    top: 20%;
    left: -30%;
} */

.siz{
    width:230px
}


.inner{
width: 200px;
height: 550px;
}
.border{
    border: none;
}


.pro-img{
    width: 200px;
    height: 380px;
}

.card{
    transition: all 0.3s;
}
.card:hover{
    transform: scale(1.05);
}
.card-body{
    text-align: center;
}



.innnn{
    padding: 30p;
}

.footer-head{
    color: #fff;
}

.tefo{
    text-decoration: none;
    color: #fff;
}


.navbar-brand{
    color: #a6c2eb;
}


