*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #dddddd;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.main-body{
    width: 90vw;
    height: 96vh;
    background-color: aqua;
    border-radius: 12px;
}
.left-section{
    width: 65%;
    height: 100%;
    background: #fff;
    float: left;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.right-section{
    float: left;
    width: 35%;
    height: 100%;
    background: #ffede1;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
.login{
    height: 95%;
    width: 50%;
    background: #ffffff;
    box-shadow: 0px 19px 40px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.inner{
    height: 90%;
    width: 75%;
}
.logo{
    height: 10%;
    width: 100%;
}
.text{
    color: rgba(0, 0, 0, 0.50);
    font-size: 16px;
    font-family: Poppins;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.48px;
    word-wrap: break-word;
}
.box{
    background: #fff6f4;
    width: 100%;
    height: 46px;
    border: 0;
    border-radius: 4px;
}
.texx{
    color: black;
font-size: 16px;
font-family: Poppins;
font-weight: 300;
word-wrap: break-word
}
.btn{
    width: 150px;
    height: 46px;
    border-radius: 23px;
    background: #f47458;
    color: #fff;

}