*{
    padding: 0;
    margin: 0;

}
body{
    width: 100%;
    /* height: 100vh; */
    background-color:#f4f5fa;
    
}
.sidebar{
    /* width: 227px; */
    height: 100vh;
    background: #ffffff;   
    position: sticky;
    top: 0; 

}
.logo{
    width: 100%;
    height: 50px;
    /* background: pink; */
    display: flex;
    align-items: end;

}
.menubar{
    height: 380px;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidnavButton{
    width: 100%;
    height: 42px;
    border-radius: 12px;
    /* background-color: antiquewhite */
    display: flex;
    /* justify-content: center; */

    padding-top: 8px;
    padding-left: 20px;
}
.outer-link{
    width: 90%;
    height: 43px;
    text-decoration: none;
    color: #000000;
    /* margin-top: 5px; */
}

.sidnavButton:hover{
    background-color: #a3aee9;
    color: #fff;
}

.header{
    height: 67px;
    /* display: flex; */
}
.pagename{
    width: 50%;
    height: 100%;
}
.shopAndpic{
    width: 50%;
    height: 100%;
}
.signOut{
    width: 100%;
    height: 40px;
    margin-top: 100px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-left: 35px;
}
