*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    
    background-color: #f4f5fa;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-body{
    height: 80%;
    width: 27%;
    background: #fff;
    border-radius: 12px;
    display:flex;
    justify-content: center;
    align-items:center ;

}

.inner-sec{
    width: 90%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-sec{
    height: 110px;
    width: 110px;
    background-color: azure;
}

.box{
    width: 100%;
    height: 50px;
    border-radius: 12px;
    border: 0;
    background-color: #f6f7fb;
}
.btn{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    
}
.colo{
    background: #5570f1;
    width: 148px;
    height: 52px;
    border: 0;
    border-radius: 12px;
}


/* .logo-section{
    height: 40%;
    width: 100%;
    
}

.form-section{
    height: 60%;
    width: 100%;
   
}

.logo-on{
    height: 50%;
    width: 100%;
  
}

.welcoming{
    height: 50%;
    width: 100%;
  
}

.form-details{
    height: 50px;
    width: 300px;
    background-color: #f6f7fb;
    border: 0;
    border-radius: 8px;
}

.login-btn{
    height: 58px;
    width: 173px; 
    border-radius: 12px;
    border: 0;
    background-color: #5570F1;
    color: #fff;
    font-size: 20px;
} */



@media screen and (max-width:495px){
    
} 